extends ./layout/main.pug

block content
	h1= 'Pug 🐶'
	h2='Alta de producto'
	form(method="post" action="/api/productos" class="d-flex flex-column w-25")
		label(for="title")='Titulo'
		div(class="input-group mb-2")
			input(type="text" id="title" name="title" class="form-control rounded" placeholder="Titulo del producto")
		label(for="price")='Precio'
		div(class="input-group mb-2")
			span()
			input(type="text" id="price" name="price" class="form-control rounded" placeholder="Precio del producto")
		label(for="thumbnail")='URL Foto'
		div(class="input-group mb-2")
			input(type="text" id="thumbnail" name="thumbnail" class="form-control rounded" placeholder="Link a una imagen")
		button(type="submit" class="btn btn-success mt-4 rounded-pill w-75 align-self-center")='Enviar'
	a(href="/productos" class="link-primary mt-4")='Ir a productos'
