extends ./layout/main.pug

block content
	h1= 'Pug 🐶'
	h2='Productos' 
	if productsExist
		table(class="table table-striped bordered w-75")
			thead
				tr
					th(scope="col")='ID'
					th(scope="col")='Nombre'
					th(scope="col")='Precio'
					th(scope="col")='Foto'
			tbody(class="align-middle")
				each product in products
					tr
						th(scope="row")=product.id
						td=product.title
						td=product.price
						td: img(src=product.thumbnail, alt="photo")
	else 
		div(class="alert alert-warning" role="alert")='No hay productos para mostrar'
	a(href="/" class="link-primary mt-4")='Ir a inicio'
